
  
  .navegador {
    background-color: $cinza;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 10vh;
    z-index: 999;
    width: 100%;

        img {
            margin-left: 20px;
            width: 7%;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        ul {
      list-style: none;
      display: flex;
      
      
        li {
        margin-right: 25px;
        font-size: 16px;

        a{
        color: $amarelo;
        text-decoration: none;
      }

    button {
            width: 120px;
            height: 30px;
            color: $cinza;
            border-radius: 999px;
            font-size: 18px;
            border: 3px solid #f5f4f4;
            background-color: $branco;
        }
      }
  }
  .menu{
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navegador ul{
    display: none;

  }

  .navegador .menu{
    font-size: 2.5rem;
    display:flex;
    align-items: center;
    color: $branco;
    margin-right: 30px;
    cursor: pointer;
  }

  .navegador img{
    width: 20%;
  }
}