html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
section{
    position: relative;
    top: 10vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
}