@charset "UTF-8";
.navegador {
  background-color: #302e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 10vh;
  z-index: 999;
  width: 100%;
}
.navegador img {
  margin-left: 20px;
  width: 7%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.navegador ul {
  list-style: none;
  display: flex;
}
.navegador ul li {
  margin-right: 25px;
  font-size: 20px;
  color: #f0f50a;
}
.navegador ul li button {
  width: 120px;
  height: 30px;
  color: #302e2e;
  border-radius: 999px;
  font-size: 18px;
  border: 3px solid #f5f4f4;
  background-color: #ffffff;
}

.inicio {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/conceito-de-levantamento-de-peso-com-haltere.jpg);
  background-size: cover;
}
.inicio .text-content {
  color: #ffffff;
  text-align: center;
}
.inicio .text-content h1 {
  font-size: 70px;
  margin-bottom: 15px;
}
.inicio .text-content h3 {
  font-size: 35px;
  margin-bottom: 15px;
}
.inicio .text-content button {
  width: 250px;
  height: 50px;
  color: #ffffff;
  border-radius: 999px;
  border: 1px solid #777676;
  font-size: 18px;
  background-color: #302e2e;
}

.inicio .text-content button:hover {
  background-color: #777676;
  transition: 0.5s;
}

body {
  font-family: "Open Sans", sans-serif;
}

section {
  position: relative;
  top: 10vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  flex-direction: column;
}

.beneficios h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
}
.beneficios .item {
  margin: 200px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 40px;
}
.beneficios .item .item-photo .imgItem {
  width: 90%;
  height: auto;
}
.beneficios .item .item-text {
  width: 200%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 80px;
  margin-right: 100px;
}
.beneficios .item .item-text h3 {
  color: #302e2e;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 900;
}
.beneficios .item .item-text p {
  width: 400px;
  line-height: 2;
}
.beneficios .item2 {
  margin: 200px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 40px;
  flex-direction: row-reverse;
  margin-left: 450px;
}
.beneficios .item2 .item-photo2 .imgItem2 {
  width: 60%;
  height: auto;
}
.beneficios .item2 .item-text {
  width: 200%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 80px;
  margin-right: 100px;
}
.beneficios .item2 .item-text h3 {
  color: #302e2e;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 900;
}
.beneficios .item2 .item-text p {
  width: 400px;
  line-height: 2;
}

.clients {
  min-height: 140vh;
  width: 100%;
  background-image: linear-gradient(to top, rgba(48, 46, 46, 0.3), rgba(248, 248, 248, 0));
}
.clients .text {
  text-align: left;
  margin-left: 200px;
  margin-bottom: -370px;
}
.clients .text h2 {
  font-size: 2.5rem;
  margin-top: 5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  width: 40%;
}
.clients .text h2::before {
  content: "“";
  font-family: "ABeeZee", serif;
  font-style: italic;
  font-size: 16rem;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 5px;
  margin-top: -50px;
  margin-left: -110px;
}
.clients .text p {
  font-size: 1.1rem;
  margin-bottom: 70px;
}
.clients .containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 0px 50px 0px 50px;
}
.clients .containerCards .left {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  margin-right: 20px;
}
.clients .containerCards .left .vertical {
  width: 300px;
  height: 450px;
  margin-top: 20px;
}
.clients .containerCards .right {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-top: 200px;
}
.clients .containerCards .right .horizontal {
  width: 400px;
  height: 280px;
}
.clients .containerCards .right .retangular {
  margin-top: 20px;
  width: 330px;
  height: 250px;
}
.clients .containerCards .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px 20px 10px 30px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: left;
  min-width: 200px;
}
.clients .containerCards .card .cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.clients .containerCards .card .cardContent .person {
  display: flex;
  align-items: center;
  padding: 30px;
}
.clients .containerCards .card .cardContent .person .img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100px;
}
.clients .containerCards .card .cardContent .person .text-content {
  margin-left: 20px;
}
.clients .containerCards .card .cardContent .person h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.clients .containerCards .card .cardContent .person span {
  font-size: 0.8rem;
  color: grey;
  margin-top: 10px;
}
.clients .containerCards .card .cardContent q {
  font-size: 0.9rem;
  line-height: 2rem;
  padding-left: 30px;
  position: relative;
}
.clients .containerCards .card .cardContent q::before {
  content: "“";
  font-family: "ABeeZee", serif;
  font-style: italic;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10px; /* Ajuste conforme necessário */
  left: -10px; /* Ajuste conforme necessário */
}
.clients .containerCards .card h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bolder;
  color: #302e2e;
}

.conheca {
  height: 80vh;
}
.conheca .text-content {
  margin: 30px 0px 80px 0;
  text-align: center;
}
.conheca .text-content h2 {
  font-size: 3rem;
  font-weight: bolder;
}
.conheca .text-content p {
  color: #302e2e;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}
.conheca .cards {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.conheca .cards .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px 20px 10px 30px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 10px;
  min-width: 300px;
  height: 220px;
  margin-right: 20px;
}
.conheca .cards .card .cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conheca .cards .card .cardContent h3 {
  color: #302e2e;
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.fotos .text-content {
  margin: 0px 0px 80px 0;
  text-align: center;
}
.fotos .text-content h2 {
  font-size: 3rem;
  font-weight: bolder;
}
.fotos .listPhotos {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}
.fotos .listPhotos .gymPhoto {
  width: 35%; /* Defina o tamanho desejado */
  height: auto;
  margin-right: 10px; /* Adicione espaço entre as imagens */
}

* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */