@import '_variables.scss';
@import '_navbar.scss';
@import '_inicio.scss';
@import '_base.scss';
@import 'beneficios.scss';
@import '_historia.scss';
@import '_conheca.scss';
@import '_fotos.scss';
@import '_contato.scss';
@import '_footer.scss';

* {
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 767px) {
   
    * {
        overflow-x: hidden;
    }
}
